<form>
  <label for="matricula">Matrícula:</label>
  <input type="number" name="matricula" required />

  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" required />

  <label for="apaterno">Apellido Paterno:</label>
  <input type="text"  name="apaterno" required />

  <label for="amaterno">Apellido Materno:</label>
  <input type="text"  name="amaterno" required />

  <label for="correo">Correo:</label>
  <input type="email"  name="correo" required />

  <button type="submit">Agregar Alumno</button>
</form>

<!-- <form (ngSubmit)="onSubmit()">
  <label for="matricula">Matrícula:</label>
  <input type="number" [(ngModel)]="alumno.matricula" name="matricula" required />

  <label for="nombre">Nombre:</label>
  <input type="text" [(ngModel)]="alumno.nombre" name="nombre" required />

  <label for="apaterno">Apellido Paterno:</label>
  <input type="text" [(ngModel)]="alumno.apaterno" name="apaterno" required />

  <label for="amaterno">Apellido Materno:</label>
  <input type="text" [(ngModel)]="alumno.amaterno" name="amaterno" required />

  <label for="correo">Correo:</label>
  <input type="email" [(ngModel)]="alumno.correo" name="correo" required />

  <button type="submit">Agregar Alumno</button>
</form> -->